root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_size = 4
indent_style = tab

[{*.markdown,*.md}]
indent_size = 4
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
